#album{
    width:auto;
    height: auto;
    border: 2px solid #ccc;
    font-size: 12px;
}
#album h2{
    font-size: 12px;
    text-indent: 0;
    text-align: center;
    margin: 0 0 10px 0;
}
#album p {
    text-align: center;
    padding: 20px;
    clear: both;
}
#album p a{
    font-size: 14px;
    color: #333;
}
