*{
    padding: 0;
    margin: 0;
}
body {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
}
ul{
    list-style-type: none;
}
h2{
    font-size: 14px;
    background: #eee;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
}

#header{
    width:auto;
    height: 150px;
    border:2px solid #ccc;
    margin: 10px 0;
}
#header ul{
    text-align:right;
    padding: 30px 50px 0 0;
}
#header ul li{
    display: inline;
}
#header ul li a{
    text-decoration: none;
    color: #333;
}
#header ul li a:hover{
    color: red;
}
#header h1{
    font-size: 12px;
    width: 210px;
    height: 39px;
    background: url("../../images/logo1.png") no-repeat;
    margin:40px 0 0 40px;
}
#header h1 a{
    width: 210px;
    height: 39px;
    display: block;
    text-indent: -9999px;
}

#footer{
    clear: both;
    width: auto;
    height: 60px;
    text-align: center;
    padding: 10px 0 0 0;
}
#footer p{
    font-size: 13px;
    letter-spacing: 1px;
    padding: 5px 0 0 0;
}
#footer p span{
    color: #0066ff;
}
#page_num{
    clear: both;
    width: auto;
    height: 20px;
    position: relative;/*相对点*/
}
#page_num ul{
    height: 20px;
    position: absolute;/*绝对点，以上边的相对点为容器放在容器的绝对右边*/
    right: 30px;
}
#page_num ul li{
    float: left;
    width: 24px;
}
#page_num ul li a{
    height: 20px;
    width: 20px;
    display: block;
    border: 1px solid #333;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
}
#page_num ul li a:hover,#page_num ul li a.selected{
    background: #666;
    font-weight: bold;
    color: #fff;
}
#page_text{
    clear: both;
    padding: 10px 0;
    height: 20px;
}
#page_text ul{
    text-align: center;
}
#page_text ul li{
    display: inline;
    padding-left: 10px;

}
#page_text ul li a{
    color: #333;
}
/*#member side_bar main公共的*/
#member {
    width:auto;
    height: 600px;
    border: 2px solid #ccc;
    font-size: 12px;
}
#member #member_sidebar{
    width: 300px;
    height: 550px;
    border: 1px dashed #999;
    margin: 15px;
    float: left;
}
#member #member_sidebar dl{
    width: 250px;
    margin: 15px auto;
    text-align: center;
    background: red;
}
#member #member_sidebar dl dt{
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background: #999;
}
#member #member_sidebar dl dd{
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background: #eee;
}
#member #member_sidebar dl dd a{
    display: block;/*占用全部区域*/
    color: #333;
    text-decoration: none;
}
#member #member_sidebar dl dd a:hover{
    background: #bbb;
}
#member h2{
    text-indent: 0px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#member #member_main{
    width: 590px;
    height: 550px;
    border: 1px dashed #999;
    margin: 15px;
    float: right;
}