#photo{
    width:auto;
    height: 450px;
    border: 2px solid #ccc;
    font-size: 12px;
}
#photo h2{
    font-size: 12px;
    text-indent: 0;
    text-align: center;
    margin: 0 0 10px 0;
}
#photo dl{
    width: 340px;
    margin: 20px auto;
}
#photo dl dd{
    margin: 5px 0;
    width: auto;
}
#photo dl dd span{
    color:red;
    margin-left: 5px;
}
#photo dl dd#pass{
    display: none;
}
#photo dl dd input.text{
    background: #fff;
    border: 1px dashed #333;
    width: 180px;
    height: 19px;
}
#photo dl dd textarea{
    background: #fff;
    border: 1px dashed #333;
    width: 180px;
    height: 70px;
}
#photo dl dd input.submit{
    background: #fff;
    border: 1px dashed #333;
    width: 60px;
    height: 19px;
    padding: 0 0 2px 0;/*为什么不起作用呢？*/
    margin-left: 100px;
    cursor: pointer;
}